<%
    var posts = (posts) ? posts : [];
    posts.forEach(p => {
        var post = functions.postMaping(p) || post;
%>
    <div class="post-outer Item">
        <%- include("apk2", {post: post}); %>
    </div>
<%
    });
%>