<%
    var categories = (categories) ? categories : [];
%>
<%
        categories.forEach(c => {
    %>
        <li>
            
            <%- include("category", {category: c}); %>
            
        </li>
<%
        })
    %>