<%
    var posts = (posts) ? posts : [];
    posts.forEach(p => {
        var post = functions.postMaping(p) || post;
%>
    <div>
        <%- include("apk", {post: post}); %>
    </div>
<%
    });
%>